*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

nav {
  background-color: #555;
}

ul {
  list-style: none;
  display: flex;
  text-align: center;
}

li {
  flex: 1;
}

a:link,
a:visited {
  display: block;
  padding: 20px;
  margin: 0;
  transition: all 0.3s ease;
}

a:hover,
a:active {
  background-color: #000;
}

svg {
  width: 36px;
  height: 36px;
  stroke: #fff;
}

.active {
  background-color: #04aa6d;
}
